/* Buttons */
#button-container {
  position: absolute;
  bottom: 0;
  z-index: 999;
}
.button {
  display: inline-block;
  text-decoration: none;
  font-family: "Avenir LT W01 35 Light", "Century Gothic", Helvetica, Arial, sans-serif;
  color: #fff;
  background: rgba(0,0,0,.75);
  border: 1px solid rgba(255,255,255,.9);;
  height: 60px;
  line-height: 60px;
  padding-left: 32px;
  padding-right: 32px;
  transition: all, .4s;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

/* Form */
#form-container {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 999;
}
.form-control {
  height: 60px;
  width: 650px;
  font-size: 1.5em;
}

/* Map */
html, body, .l-map {
  height: 100%;
  width: 100%;
}
.circles {
  fill: #ff9c00;
}
